.modal-right {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $background-color-white;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.modal-right.show {
  display: flex;
  animation: slideInRight 0.3s ease-out;
}

.modal-cart-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;  ///ВЫСОТА МОДАЛКИ
  background-color: $background-color-white;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}


.cart-side-bar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.cart-side-bar__title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: $text-color-black;
  margin-right: 5px;
}

.cart-side-bar__span {
  position: absolute;
  top: 20px;
  right: 73%;
  background-color: $background-color-firebrick;
  color: $text-color-white;
  font-size: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.cart-product-name {
  font-size: 13px;
  font-weight: 500;
  color: $text-color-dirt;
  line-height: 1.5;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cart-product-color {
  font-size: 12px;
  font-weight: 300;
  color: $text-color-black;
  line-height: 1.5;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.cart-product-price {
  font-size: 11px;
  font-weight: 300;
  color: $text-color-black;
  line-height: 1.5;
  text-align: right;
  width: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.cart-side-bar__button {
  background: none;
  border: none;
  cursor: pointer;
}

.cart-side-bar-button-close__img {
  width: 20px;
  height: 20px;
}


.cart-side-bar__content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  overflow-y: auto;
  padding-bottom: 20px;
  max-height: 100%;
  color:$text-color-grey;
}
.cart-product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.cart-side-bar-content-empty__massage {
  color: $text-color-dimgrey;
  font-size: 14px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}


.modal.show {
  display: flex;
  animation: slideInRight 0.3s ease-out;
}



.header-icon__cart {
  cursor: pointer;
  position: relative;
}
.cart-product-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
  object-fit: cover;
}


.header-icon__cart::after {
  content: attr(data-count);
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: $background-color-red;
  color: $text-color-white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 0.75rem;
  display: none;
}

.header-icon__cart[data-count]:after {
  display: block;
}

.cart-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
}

.cart-footer-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
  margin-top: 10px;
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.total-amount__text {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-right: 5px;
}

.cart-total-amount {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-right: 5px;
  margin-left: 230px;
}

.cart-view-total-button,
.cart-checkout-button {
  flex: 1;
  padding: 15px 0;
  font-size: 16px;
  color: $text-color-white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-align: center;
}

.cart-view-total-button {
  background-color: $background-color-whitesmoke;
  color: $text-color-dirt;
}

.cart-checkout-button {
  background-color:$background-color-firebrick;
}

.cart-view-total-button:hover,
.cart-checkout-button:hover {
  opacity: 0.9;
}

.cart-product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid $border-color-lightgray;
  padding: 10px 0;
}


.remove-product-button {
  background: none;
  border: none;
  color: $text-color-dirt;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -15px;
}

.remove-product-button:hover {
  color:$text-color-black;
}


.cart-quantity__container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 8px;
  width: fit-content;
  margin-left: auto;
}


.quantity-decrease__button, .quantity-increase__button {
  width: 20px;
  height: 20px;
  background-color: $background-color-white;
  border: 1px solid $border-color-lightgray;
  color: $text-color-dirt;
  font-size: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.quantity-decrease__button:hover, .quantity-increase__button:hover {
  background-color: $background-color-firebrick;
  color: $text-color-white;
}


.quantity-display {
  font-size: 8px;
  font-weight: 600;
  color: $text-color-dirt;
  text-align: center;
  width: 25px;
  padding: 4px 0;
  background-color: $background-color-white;
  border: 1px solid $border-color-lightgray;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.quantity-display::-webkit-inner-spin-button,
.quantity-display::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-display[type=number] {
  -moz-appearance: textfield;
}
