.modal-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color-white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow: hidden;
  display: flex;
  max-width: 800px;
  width: 100%;
  height: auto;
  font-family: Arial, sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content-center {
  display: flex;
  width: 100%;
}

.modal-img__container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $background-color-whitesmoke;
  overflow: hidden;
}

.modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.modal-text__container {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 500px;
}

.modal-title {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 12px;
  color: $text-color-dirt;
}

.modal-price {
  font-size: 15px;
  color: $text-color-black;
  margin-top: 12px;
  margin-bottom: 12px;
}

.modal-description {
  font-size: 15px;
  color: $text-color-dimgray;
  line-height: 1.6;
  margin-bottom: 20px;
}

.modal-close__button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: $text-color-darkgrey;
  transition: color 0.3s;
}

.modal-close__button:hover {
  color:$text-color-dimgray;
}

.indicators-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $border-color-gray;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: $background-color-firebrick;
  border: none;
}

.modal-img__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  opacity: 0;
  z-index: 10;
}

.modal-img__container:hover .modal-img__button {
  opacity: 1;
}

.modal-img__button:first-of-type {
  left: 10px;
}

.modal-img__button:last-of-type {
  right: 10px;
}

.left-arrow__img,
.right-arrow__img {
  width: 15px;
  height: 15px;
}

.modal-img__button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.modal-img__button:hover img {
  transform: scale(1.1);
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.add-to-cart-button {
  background-color: $background-color-firebrick;
  color: $text-color-white;
  width: 150px;
  padding: 8px 12px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.add-to-cart-button:hover {
  background-color: $text-color-firebrick;
}

.add-to-wish-list__button {
  display: flex;
  align-items: center;
  color: $text-color-firebrick;
  font-size: 12px;
  font-weight: 400;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.add-to-wish-list__button:hover {
  text-decoration: underline;
}

.add-to-wish-list-button__img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.category-container,
.stock-keeping-container,
.type-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.category-label,
.product-share__text,
.product-tag,
.stock-keeping-unit,
.type-label {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: $text-color-black;
  margin-right: 5px;
}

.product-category,
.stock-keeping-unit__value,
.product-type {
  font-size: 14px;
  color: $text-color-dimgray;
}

.product-share {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}


.social-icon {
  width: 17px;
  height: 17px;
  cursor: pointer;
  transition: transform 0.2s;
}

.modal-size__label,
.modal-color__label {
  display: flex;
  font-size: 14px;
  margin-right: 8px;
}


.modal-colors, .modal-sizes {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid $border-color-lightgray;
  border-radius: 4px;
  font-size: 15px;
  width: 120px;
  text-align: center;
  background-color: $background-color-white;
  color: $text-color-dirt;
  transition: border-color 0.3s;
}

.modal-colors:focus, .modal-sizes:focus {
  border-color:$border-color-red;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.quantity-button,
.quantity-counter {
  font-size: 16px;
  color: $text-color-dirt;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid $border-color-lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-products-rank {
  font-size: 13px;
  color: $text-color-gray;
  margin-top: 5px;
}

.modal-quantity__input {
  text-align: center;
  width: 45px;
  padding: 5px;
  border: 1px solid $border-color-gray;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}


.modal-quantity__input::-webkit-inner-spin-button,
.modal-quantity__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-quantity__input[type=number] {
  -moz-appearance: textfield;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.out-of-stock-message {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $background-color-whitesmoke;
  color: $text-color-dirt-light;
  padding: 12px 20px;
  border-radius: 0px;
  font-size: 16px;
  text-align: center;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeInUp 0.5s ease-out forwards, fadeOutDown 0.5s ease-in 3s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
}
