.top-sellers {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;

  &__title {
    font-size: 32px;
    font-family: $font-primary;
    font-weight: bold;
    margin-bottom: 40px;
  }

  &__text {
    font-family: $font-primary;
    margin-bottom: 50px;
    font-weight: lighter;
    font-size: 15px;
    line-height: 30px;
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin-bottom: 80px;
  cursor: pointer;
}

.product-list__item {
  padding: 10px;
  text-align: center;
}


.product-list__title {
  margin: 10px;
}

.product-name {
  padding: 5px;
  font-family: $font-primary;
  font-weight: 100;
  text-align: left;
  text-transform: capitalize;
}

.product-rating {
  text-align: left;
  margin-top: 5px;
}

.product-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// .star {
//   color: $star-color-reddish-orange;
//   font-size: 15px;
//   text-align: left;
// }

.product-price-container {
  display: flex; 
  align-items: center; 
  margin-top: 5px;
}

.product-price {
  font-family: $font-primary; 
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}

.product-previous-price {
  font-family: $font-primary; 
  font-size: 13px;
  font-weight: 600;
  margin-left: 5px; 
  text-decoration: line-through;
  color: gray; 
}


.product-img {
  width: 235px;
  height: auto;
}


.button--load-more {
  display: block;
  margin: 0 auto;
  padding: 13px 20px;
  background-color: $background-color-white;
  border: 1px solid silver;
  border-width: 2px 2px 2px 2px;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 45px;
  width: 165px;
  cursor: pointer;
}

.button--load-more:hover {
  transition: background-color 0.5s ease;

  color: $text-color-white;
  background-color: $text-color-firebrick;


}


.star {
  font-size: 18px;
  color: #ccc; 
  cursor: pointer;
  position: relative;
}

.star.filled {
  color: $star-color-reddish-orange; 
}

.star.half-filled {
  color: #ccc; }

.star.half-filled::before {
  content: '★'; /* Звезда */
  position: absolute;
  left: 0;
  width: 50%; 
  overflow: hidden;
  color: $star-color-reddish-orange; 
}


// /* Медиазапрос для экранов от 480 до 768 пикселей (планшеты) */
// @media (min-width: 480px) and (max-width: 768px) {
//   .button--load-more {
//     width: 100%; /* Кнопка растягивается на всю ширину экрана на мобильных устройствах */
//   }
// }
// /* Медиазапрос для экранов от 480 до 768 пикселей (планшеты) */
// @media (min-width: 480px) and (max-width: 768px) {
//   .product-list {
//     grid-template-columns: repeat(2, 1fr); /* 2 колонки для мобильных устройств */
//   }
// }