$background-color-primary: white;
$background-color-secondary: floralwhite;
$background-color-highlight: indianred;

$color-primary: dimgrey;
$color-secondary: grey;
$color-tertiary: dimgray;

$border-color: lightgray;

//fonts
$font-primary: 'HansKendrick', sans-serif;

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xlarge: 34px;

$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-base: 1.5;
