$background-color-primary: white;
$background-color-secondary: floralwhite;
$background-color-highlight: indianred;


$color-primary: dimgrey;
$color-secondary: grey;
$color-tertiary: dimgray;


$border-color: lightgray;